.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  background-color: #fff;
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  max-width: 500px; 
  margin: auto; 
  transform: translateY(30px);
  opacity: 0;
  animation: loginBoxAnimation 1s ease-in-out 1.5s forwards;
}

.app-name-box {
  background-color: #ffff; 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000000; 
  margin-bottom: 20px; 
}

.logo-box {
  text-align: center;
  margin-top: 20px; 
}

.logo-box img {
  max-width: 100%;
  animation: logoAnimation 1s ease-in-out forwards;
}

.custom-alert .alert-button-inner {
  color: black; 
  background-color: white; 
}

.dark-overlay {
  background-color: white(0, 0, 0, 0.5);
  padding: 10px;
  color: black; 
  opacity: 0;
  animation: darkOverlayAnimation 1.5s ease-in-out forwards;
}

h1 {
  transform: translateY(30px);
  opacity: 0;
  animation: headingAnimation 1s ease-in-out 1s forwards;
}

@keyframes logoAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes darkOverlayAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes headingAnimation {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loginBoxAnimation {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
