<<<<<<< Updated upstream
ion-button.ion-button {
  margin-top: auto;
  border-radius: 15px; 
  background-color: rgb(255, 0, 0);
  margin-bottom: 10px; 
  display: flex;
}

  
=======
.rounded-card {
    border-radius: 15px; /* Adjust the radius as needed */
    overflow: hidden;
  }
>>>>>>> Stashed changes
