ion-button.ion-button {
  margin-top: auto;
  border-radius: 15px; 
  background-color: rgb(255, 0, 0);
  margin-bottom: 10px; 
  display: flex;
}

  
.rounded-card {
    border-radius: 15px; 
    overflow: hidden;
  }

  /* styles.css */

.toggle-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-toggle {
  margin-left: auto; 
}

.dark-mode-label {
  margin-left: 10px;
}


 